body {
    background-color: #0a92bf
}
#maintitle{
    position:relative;
    text-align:center;
    font-size:50px;
    font-family:'Global Monospace';
    color:white;
}
#maindescription {
    position: relative;
    left: 100px;
    top: 80px;
    color: white;
    font-family: Dubai;
    font-size: 55px;
    text-shadow: 4px 4px black
}
#topicSelection {
    position: relative;
    left: 820px;
    font-size:43px
}